@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Testing Continuous Delivery using GitHub.</title>
	</head>
	<body>
		<h2>This site is continuously delivered using a GitHub source repository.</h2>
		<h2>Push to GitHub!</h2>
		<h3>Follow <a href="http://twitter.com/noopman">@@noopman</a> on Twitter!</h3>
	</body>
</html>