@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Demoing Continuous Delivery</title>
	</head>
	<body>
		<h2>This site is continuously delivered using GitHub.</h2>
		<h3>Tweet #TechDaysNL + <a href="http://twitter.com/noopman">@@noopman</a>!</h3>
	</body>
</html>